# Data Source

### [https://www.kaggle.com/hitesh05sr/new-york-city-311-service-request-dataset](https://www.kaggle.com/hitesh05sr/new-york-city-311-service-request-dataset)

In [1]:
import pandas as pd
import ipywidgets as wg
from IPython.display import display

In [2]:
df = pd.read_excel('addresses.xlsx')

In [3]:
street_suffixes = ['PATH','BRIDGE', 'BAY', 'TECH','ALLEY','CENTER','PIERS','RDG','RIVER','HL', 'COVE','ROW','PIER','TNPK','FAIR','ISLAND','MALL','AVE','THRU','HILL','RIDGE','PKW','COURSE','PARKLANE','THRUWAY','WAY','HEIGHTS','SLIP','EXPY','ST','PLAZA','PKWY','GREEN','CAMP','TURNPIKE','BL','OVAL','LOOP','BLVD','DR','CIRCLE','WALK','HIGHWAY','CONCOURSE', 'SQUARE','CRESCENT', 'AVENUE', 'ROAD', 'STREET', 'BOULEVARD', 'PLACE', 'DRIVE', 'LANE', 'PARKWAY', 'PARK','EXPRESSWAY', 'TERRACE', 'RD', 'COURT']
exceptions = ["B'WAY",'PCT','FDR','PPW', 'GCP','GREENWAY', 'CPW','KINGSBRIDGE','ESPLANADE','GRANDCONCOURSE','BQE','KINGSHIGWY','BOWERY','BROADWAY','BROADWAY']

In [4]:
street_addresses = [x[0].split(' ') + x[1].split(' ') for x in df['Full Address'].str.split(',')]

In [5]:
numbered_addresses = []
unnumbered_addresses = []

numbered_cities = []
unnumbered_cities = []

numbered_states = []
unnumbered_states = []

numbered_zipcodes = []
unnumbered_zipcodes = []

timer=0
progress = wg.IntProgress(description= 'Parsing: ')
progress.orientation = 'horizontal'
display(progress)

for row in street_addresses:
    timer+=1
    progress.value=(timer/len(street_addresses))*100
    

    
    try:

        num_split = row[0].split('-')
        house_num = ''.join(num_split)
        row[0] = str(int(house_num)) # throws error if not a number; in which case it has no house number
        index=0
        
        
        for element in row:
            index+=1
            if (element in street_suffixes) or (element in exceptions):
                
                if ((element=='BAY') or (element == 'ST')) and (index == 2): # If it starts with St. for Saint rather than street, pass
                    pass
                
                
                elif((element == 'AVENUE') and (index==2)): # Alphabet City streets
                    numbered_addresses.append(' '.join(row[:index+1]))
                    numbered_cities.append(row[index:])
                    numbered_states.append(row[-2])
                    numbered_zipcodes.append(row[-1])
                    break

                                          
                else:
                    numbered_addresses.append(' '.join(row[:index]))
                    numbered_states.append(row[-2])
                    numbered_zipcodes.append(row[-1])
                    check = row[index:]
                    if check[1]=='':
                        numbered_cities.append(check[0])
                    else:
                        numbered_cities.append(' '.join(check[0:2]))
                    break
                 
                
                
                
    # Addresses without house or building numbers            
    except:
        pass
#         print(row)
#         index=0
#         for element in row:
            
#             index+=1
#             if (element in street_suffixes) or (element in exceptions):
                
#                 if ((element=='BAY') or (element == 'ST')) and (index == 0): # If it starts with St. for Saint rather than street, pass
#                     break
                
                
#                 elif((element == 'AVENUE') and (index==1)): # Alphabet City streets
#                     unnumbered_addresses.append(' '.join(row[:index+1]))
#                     unnumbered_cities.append(row[index+1])
#                     unnumbered_states.append(row[-2])
#                     unnumbered_zipcodes.append(row[-1])
#                     break
                    
#                 else:
                    
#                     unnumbered_addresses.append(' '.join(row[:index]))
#                     unnumbered_states.append(row[-2])
#                     unnumbered_zipcodes.append(row[-1])
                    
#                     check = row[index:]
#                     check_index=-1
#                     for item in check:
#                         check_index+=1
#                         if item == '':
#                             unnumbered_cities.append(check[:check_index])
                    
                        
                    
#                     break

IntProgress(value=0, description='Parsing: ')

In [6]:
len(numbered_addresses)

104242

In [7]:
len(numbered_cities)

104242

In [8]:
len(numbered_states)

104242

In [9]:
len(numbered_zipcodes)

104242

In [10]:
clean_dict = {'address': numbered_addresses, 'city': numbered_cities, 'state': numbered_states, 'zip': numbered_zipcodes}

In [11]:
clean_df = pd.DataFrame(clean_dict)

In [12]:
clean_df

                      address           city state    zip
0         71 VERMILYEA AVENUE       NEW YORK    NY  10034
1              2707 23 AVENUE        ASTORIA    NY  11105
2       2897 VALENTINE AVENUE          BRONX    NY  10458
3         2940 BAISLEY AVENUE          BRONX    NY  10461
4                8714 57 ROAD       ELMHURST    NY  11373
...                       ...            ...   ...    ...
104237     420 EAST 86 STREET       NEW YORK    NY  10028
104238     415 EAST 86 STREET       NEW YORK    NY  10028
104239          7703 79 PLACE      RIDGEWOOD    NY  11385
104240       81 HESTER STREET       NEW YORK    NY  10002
104241        10017 87 AVENUE  RICHMOND HILL    NY  11418

[104242 rows x 4 columns]

# To do:

- Fill in street suffixes (1ST, 2ND, 3RD, etc)
- Finish unnumbered sorting
- to_excel
- write it up